@import url('https://fonts.googleapis.com/css?family=Anton|EB+Garamond|Jura|Playfair+Display');

*{
	margin:0px;
	padding:0px;
}
body {
	background:#f0f4fa;
	text-align:center;
	-webkit-font-smoothing:antialiased;
	font-family:"Playfair Display", serif;
}
ul, li {
	list-style:none;
	display:inline-block;
	-webkit-margin-start:0px;
    -webkit-padding-start:40px;
	-moz-margin-start:0px;
	-moz-padding-start:40px;
	margin:0px;
	padding:0px;
	text-align:center;
}
a,a:visited, a:active {
	text-decoration:none;
	color:inherit;
}
a:hover{
	color:rgba(171,176,186,1);
}
img {
	border:0;
}
.active {
	opacity:1;
	color:#82626e;
}

/*background*/
#wrapper{
	width:100%;
	height:1300px;
	background:url('../images/ly-e-flower.png') center right, repeat;
	background-size:contain;
	background-attachment:fixed;
	left:0px;
	z-index:-9999;
}

/*header*/
#header{
	width:1260px;
	margin:0 auto;
	margin-top:5px;
	padding:40px 0;
	font-size:20px;
	font-family:"Anton",sans-serif;
	color:#aaafb9;
	letter-spacing:2px;
	text-align:right; /*center*/
	opacity:0.5;
}
#header ul{
	list-style-type:none; 
	margin:0px; 
	padding:0px;
	line-height:32px;
	text-align:center;
}
#header ul li{
	display:inline-block;
	margin-right:50px;
	vertical-align: middle;
}
#header ul li a img{
	height:14px;
}
#header ul li a:visited{
	opacity:0.4;
}
#header ul li a:hover, a:active{
	color:#82626e;	
}


/*content*/
#content {
	margin:0 auto;
	width:1400px;
	text-align:center;
}
#logo{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-right:50px;
}
.ly-title{ 
	width:186px;
	height:77px;
}

#container-wrapper{
	display:inline-block;
}
#container{
	display:flex;
	margin:0 auto;
	border-radius:5px;
	width:920px;
	height:741px;
	background:rgba(171,176,186,0.2);
	padding:10px;
	flex-direction:column;
}
#container ul li img{
	width:300px;
	height:200px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding:6px;
	border-radius:5px;
}
#container ul li img:hover{
	width:420px;
	height:300px;
	transition:width 3s, height 3s, transform 3s;
}
#container iframe{
	border-radius:5px;
}
#container img{
	margin: 0 auto;
	border-radius:5px;
}
#container img[src~="../images/profile-photo.jpg"]{
	margin: 0 auto;
	border-radius:5px;
	height:290px;
	width:250px;
}
#container form table{
	margin: 0 auto;
	text-align:center;
}
#container form table tr td input, #container form table tr td select, #container form table tr td textarea{
	padding:5px;
	font-family:"Playfair Display", serif;
	font-size:15px;
	border-radius:5px;
}
#container form table tr td input[type="submit"], #container form table tr td input[type="reset"]{
	border-color:#aaafb9; 
	border-radius:7px ; 
	padding:3px; 
	padding-left:15px;
	padding-right:15px; 
	border-width:2px;
}
#container-article{
	width:860px;
	height:431px;
	margin-left:37px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.article{
	width:200px;
	height:391px;
	text-align:center;
}
.article-image{
	width:200px;
	height:239px;
	border-radius:5px;
}
.article-image img{
	width:200px;
	height:239px;
	border-radius:5px;
}
.article-text-header{
	width:200px;
	height:68px;
	text-align:center;
}
.article-text{
	width:200px;
	height:60px;
}

/*footer*/
#footer-wrapper{
	height:350px;
	margin-top:40px;
	/*background: rgba(171,176,186,0.2);*/
}
#footer{
	width:90%;
	height:320px;
	margin: 0 auto;
	margin-bottom:5px;
	padding:20px;
	display:flex;
	flex-direction:row;
	background: rgba(171,176,186,0.2);
	border-radius:5px;

}
.footer-article{
	width:25%;
	height:320px;
	justify-content:space-between;
}
.footer-article h3{
	width:100%;
	height:33px;
	text-align:center;
}
.footer-article ul li{
	padding:9px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	/*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;*/
}
.footer-article a img{
	width:105px;
	height:70px;
	border-radius:5px;
	
}
.footer-article form table tr td p{
	float:left;
}
.footer-article form table tr td input{
	float:right; 
	border-radius:3px;  
	border:1px solid #aaafb9; 
	font-family:"Playfair Display", serif ; 
	background-color:rgba(171,176,186,0.2);  
	margin-right:4px; 
	padding-left:8px ;
	padding-right:8px;
	color:black;
}
.icon{
	float:left;
	margin-top:70px;
	margin-left:19px;
}
.icon a img{
	width:50px;
	height:50px;
}
